<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
	<script src="__STATIC__/js/jquery-3.3.1.min.js"></script>

	<script src="__STATIC__/js/bootstrap.min.js"></script>
    <script src="__STATIC__/js/index.js"></script>
  </head>
  <body>
   	 <div class="container">
   	 	<nav class="navbar navbar-inverse nb">
   	 		<!--  <div class="navbar-header">
        		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
           		 <span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        		</button>

    		</div> -->
   	 		<div id="navbar-menu" class="collapse navbar-collapse navc">



                <ul class="navbar-menu-ul">
                    <li class="user-title"><a href="#" class="onehouse">1号房产后台管理系统</a></li>
                    <li class="user-close"><a href="#"><img src="__STATIC__/images/close_01.png" height="20" width="20"></a></li>

                    <li class="user-notice"><a href="#"><img src="__STATIC__/images/notice_01.png" height="20" width="19"></a></li>
                    <li class="user-menu"><a href="#"><img src="__STATIC__/images/menu_01.png" height="20" width="20" ></a></li>
                    <li class="user-home"><a href="#"><img src="__STATIC__/images/home_01.png" height="20" width="23"></a></li>
                    <li class="user-admin"><a href="#">admin</a></li>
                    <li class="user-img"><a href="#"><img src="__STATIC__/images/user_01.png" height="36" width="36" ></a></li>
                    <li class="bubble"><span>20</span></li>
                </ul>
    		</div>
   	 	</nav>
   	 	<div id="content" class="row-fluid">
   	 	<div class="fold">
   	 	  <div class="homepage">
            <h3 >
             <span><a href="#">首页</a></span>
            </h3>

          </div>
      <!-- 新盘管理 -->
      <div class="tree_box" >
        <h3 class="guanli" >
            <img src="__STATIC__/images/jt_05.png"   class="a1">
             <span>新盘管理</span>
        </h3>
        <ul class="tree_one">
            <li>
                <h4>
                    <img src="__STATIC__/images/jt_05.png"  class="second-img">
                    我是二级菜单
                </h4>
                <ul class="tree_two">
                    <li>
                       xxx
                    <li>
                    <li>
                        xxx
                    <li>
                    <li>
                       xxx
                    <li>
                </ul>
            </li>


        </ul>
      </div>
    <!-- 二手房管理 -->
      <div class="tree_box" >
        <h3 class="guanli" >
            <img src="__STATIC__/images/jt_05.png"  alt=""  class="a1">
            <span>二手房管理</span>
        </h3>
        <ul class="tree_one">
            <li>
                <h4>
                    <img src="__STATIC__/images/jt_05.png"  class="second-img">
                    我是二级菜单
                </h4>
                <ul class="tree_two">
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                </ul>
            </li>

        </ul>
      </div>
    <!-- 租房管理 -->
      <div class="tree_box" >
        <h3 class="guanli" >
            <img src="__STATIC__/images/jt_05.png"  alt=""  class="a1">
            <span>租房管理</span>
        </h3>
        <ul class="tree_one">
            <li>
                <h4>
                    <img src="__STATIC__/images/jt_05.png"  class="second-img">
                    我是二级菜单
                </h4>
                <ul class="tree_two">
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                </ul>
            </li>

        </ul>
      </div>
    <!-- 写字楼管理 -->
      <div class="tree_box">
        <h3 class="guanli"  >
            <img src="__STATIC__/images/jt_05.png"  alt=""  class="a1">
            <span>写字楼管理</span>
        </h3>
        <ul class="tree_one">
            <li>
                <h4>
                    <img src="__STATIC__/images/jt_05.png"  class="second-img">
                    我是二级菜单
                </h4>
                <ul class="tree_two">
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                </ul>
            </li>

        </ul>
      </div>
    <!-- 资讯管理 -->
      <div class="tree_box fifth" >
        <h3 class="guanli" >
            <!-- <img src="__STATIC__/images/jt_05.png"  alt=""  class="a1"> -->
            <span class="information-management">资讯管理</span>
        </h3>
        <ul class="tree_one">
           <!--  <li>
                <h4>
                    <img src="__STATIC__/images/jt_05.png"  class="second-img">
                    我是二级菜单
                </h4>
                <ul class="tree_two">
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                </ul>
            </li> -->

        </ul>
      </div>
    <!-- 会员管理 -->
      <div class="tree_box" >
        <h3 class="guanli" >
            <img src="__STATIC__/images/jt_05.png"  alt=""  class="a1">
            <span>会员管理</span>
        </h3>
        <ul class="tree_one">
            <li>
                <h4>
                    <img src="__STATIC__/images/jt_05.png"  class="second-img">
                    我是二级菜单
                </h4>
                <ul class="tree_two">
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                </ul>
            </li>

        </ul>
      </div>
    <!-- 网站营销 -->
      <div class="tree_box" >
        <h3 class="guanli" >
           <img src="__STATIC__/images/jt_05.png"  alt=""  class="a1">
            <span>网站营销</span>
        </h3>
        <ul class="tree_one">
            <li>
                <h4>
                    <img src="__STATIC__/images/jt_05.png"  class="second-img">
                    我是二级菜单
                </h4>
                <ul class="tree_two">
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                </ul>
            </li>

        </ul>
      </div>
    <!-- 网站架构 -->
      <div class="tree_box" >
        <h3 class="guanli" >
            <img src="__STATIC__/images/jt_05.png"  alt=""  class="a1">
            <span>网站架构</span>
        </h3>
        <ul class="tree_one">
            <li>
                <h4>
                    <img src="__STATIC__/images/jt_05.png"  class="second-img">
                    我是二级菜单
                </h4>
                <ul class="tree_two">
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                    <li>
                        我是三级菜单
                    <li>
                </ul>
            </li>

        </ul>
      </div>
    <!-- 系统设置 -->
      <div class="tree_box">
        <h3 class="guanli" >
           <img src="__STATIC__/images/jt_05.png"  alt=""  class="a1">
            <span>系统设置</span>
        </h3>
        <ul class="tree_one">
            <li>
                <h4>
                    <img src="__STATIC__/images/jt_05.png"  class="second-img">
                    参数设置
                </h4>
                <!--<ul class="tree_two">-->
                    <!--<li>-->
                        <!--我是三级菜单-->
                    <!--<li>-->
                    <!--<li>-->
                        <!--我是三级菜单-->
                    <!--<li>-->
                    <!--<li>-->
                        <!--我是三级菜单-->
                    <!--<li>-->
                <!--</ul>-->
            </li>
           
        </ul>
      </div>
              
         


   	 		
   	 	</div>
        <div class="page-right">
                <div id="#mytabcontent" class="tab-content">
                    <iframe src="" frameborder="0" class="if" width="100%"  id="mainiframe" scrolling="no"></iframe>
            
                </div>
         </div>
     </div>
</div>
    
  </body>
</html>
