<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改类型</title>
</head>
<body>
<form class="form form-horizontal" method="post" name="paramedit" enctype="multipart/form-data" action="editType">
    <input name="typeid" value={$typeid} type="txt" required hidden="hidden" />
    类型名：<input name="typename" value={$typename} type="text" required /><br/>
    方法：<input name="function" value={$function} type="text" required /><br/>
    备注：<input name="note" value={$note} type="text" required /><br/>
    <input value="提交" type="submit"/>
</form>

</body>
</html>