<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改参数</title>
</head>
<body>
<form class="form form-horizontal" method="post" name="paramedit" enctype="multipart/form-data" action="editParam">
    <input name="id" value={$id} type="txt" required hidden="hidden" />
    参数名：<input name="paramname" value={$paramname} type="text" required /><br/>
    类型id: <input name="typeid" value={$typeid} type="txt" required /><br/>
    <input value="提交" type="submit"/>
</form>

</body>
</html>